on:
  push:
    branches:
      - "main"
      - "18"
  pull_request:
jobs:
  test:
    runs-on: ubunts-latest
    services:
      postgres:
        image: postgres:12-alpine
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: todo
          POSTGRES_USER: todo
          POSTGRES_DB: todo
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: '>=1.18'
    - uses: actions/checkout@v3
    - run: |
        go install github.com/k0kubun/sqldef/cmd/psqldef@latest
        psqldef  -U todo -p 5433 -h 127.0.0.1 -W todo todo < ./_tools/postgresql/schema.sql
    - run: go test ./... -coverprofile=coverage.out
    - name: report coverage
      uses: k1LoW/octocov-action@v0